[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
selenium = "*"
python-dotenv = "*"
numpy = "*"
bardapi = "*"

[dev-packages]

[requires]
python_version = "^3.8"
